<h1>Add a dog</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for sharing Jackhuahuas:</p>
     <ul>
       <li>This is a family friendly site.</li>
       <li>Never insult dogs.</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= form_for @dog do |f| %>
       <div class="form-group">
         <%= f.label :name %>
         <%= f.text_field :name, class: 'form-control', placeholder: "Enter Jackhuahua name" %>
       </div>
       <div class="form-group">
         <%= f.label :description %>
         <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Tell us about your Jackhuahua" %>
       </div>
       <div class="form-group">
         <%#= f.label :public, class: 'checkbox' do %>
           <%#= f.check_box :public %>
         <%# end %>
       </div>
       <%= f.submit "Save", class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>