 <h1><%= @dog.name %></h1>
 
 <% if policy(@dog).update? %>
   <%= link_to "Edit #{@dog.name}", edit_dog_path, class: 'btn btn-success' %>
 <% end %>
 <%= render partial: 'users/follow' %>
 
 <div class="row">
   <div class="col-md-8">
     <p class="lead"><%= @dog.description %></p>
       <%#= render 'galleries/gallery' %>
   </div>
   <div class="col-md-4">
     <% if policy(Gallery.new).create? %>
       <%= link_to "Add a photo gallery for #{@dog.name}", new_dog_gallery_path(@dog), class: 'btn btn-success' %>
     <% end %>

     <% if policy(@dog).destroy? %>
       <%= link_to "Remove #{@dog.name}", @dog, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to remove this dog?' } %> 
     <% end %>
   </div>
 </div>