 <div class="row">
   <% if @user.avatar? %>
       <div class="col-md-6 col-xs-12">
         <%= image_tag @user.avatar.url, class: 'media-object', style: 'border-radius: 10px; width: 100%;' %>
       </div>
   <%# else %>
       <!-- <div class="media-left">
         #{@user.name} needs to add a profile picture.
       </div> -->
   <% end %>

     <div class="col-md-6 col-xs-12">
       <div class="media-body">
         <h2 class="media-heading" id="user-name"><%= @user.name %></h2>
         <% if current_user %><%= render partial: 'users/follow' %><% end %>
         <!-- <small>
           <%#= pluralize(@user.posts.count, 'gallery') %>
         </small> -->
       </div>
       <% if @user.location? %>
           <h4 style="font-weight:500; color: #f04124;">Located in</h4>
           <p><%= @user.location %></p>
       <% end %>
       <% if @user.description? %>
           <h4 style="font-weight:500; color: #f04124;">About <%= @user.name %></h4>
           <p><%= @user.description %><p>
       <% end %>
     </div>
   </div>

 <div class="row">
   <div class="tabbable tabs-left">
     <ul class="nav nav-tabs">
       <li class="active"><a href="#galleries" data-toggle="tab">Galleries</a></li>
       <li><a href="#friends" data-toggle="tab">Friends</a></li>
       <li><a href="#favorites" data-toggle="tab">Favorites</a></li>
       <li><a href="#topics" data-toggle="tab">Forum Topics</a></li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="galleries">
         <!-- Change in policy -->
         <% if current_user == @user %>
             <%= link_to "Add a photo gallery for #{@user.name}", new_user_gallery_path(@user), class: 'btn btn-success' %>
         <% end %>
          <%= render 'galleries/gallery' %>
       </div>
       <% if current_user %>
       <div class="tab-pane" id="friends">
         <% @friendships.each do |friendship| %>
            <div class="media">
             <div class="media-body">
               <h4 class="media-heading">
                 <!-- We need a link to the friend's user profile-->
                <p><%= link_to friendship.friend.name, friendship.friend rescue "Corrupt Friendship" %>
                <% if @user == current_user %>
                  <%= link_to "Unfollow user", friendship, method: :delete, class: 'btn btn-danger' %></p>
                <% end %>
               </h4>
             </div>
            </div>
          <% end %>
        </div>
       <% end %>
       <div class="tab-pane" id="favorites">
        <% @favorites.each do |favorite| %>
          <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
               <%= link_to favorite.favorable.title, user_gallery_path(@user, favorite.favorable) %>
             </h4>
           </div>
          </div>
        <% end %>
       </div>
       <% if current_user %>
           <div class="tab-pane" id="topics">
             <% @topics.each do |topic| %>
                 <div class="media">
                   <div class="media-body">
                     <div class="media-heading"><%= link_to topic.title, topic %><span> on <%= topic.created_at.strftime("%B %d %Y") %></span></div>
                   </div>
                 </div>
             <% end %>
           </div>
       <% end %>
     </div>
   </div>
 </div>
