  <!-- Jumbotron Header -->
        <header class="hero-spacer">
            <h1 id="title">Jackhuahua.com</h1>
            <h4 id="byline">The home of Jack Russell/Chihuahua mixes</h4>
        </header>

        <hr>

        <!-- Page Features -->
        <div class="row text-center">

          <div class="col-md-4 col-sm-6 hero-feature">
              <div class="thumbnail">
                  <%= image_tag "lilli.jpg", alt: "Lilli" %>
                  <div class="caption">
                      <h3>Show off your Jackhuahua</h3>
                      <p>Make a profile and put together photo galleries of your beloved dog.</p>
                      <p>
                      <% if current_user %>
                        <%= link_to "Create a photo gallery", new_user_gallery_path(current_user), class: 'btn btn-primary' %>
                      <% else %>
                        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
                      <% end %>
                      </p>
                  </div>
              </div>
          </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag "daisytrixie.jpg", alt: "Daisy and her best friend Trixie" %>
                    <div class="caption">
                        <h3>Visit the Jackhuahua community</h3>
                        <p>Plenty of other Jackhuahuas owners are posting, so admire their dogs and get to know them!</p>
                        <p>
                            <%= link_to "All the Jackhuahuas", users_path, class: 'btn btn-primary' %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag "paws.jpg", alt: "paws" %>
                    <div class="caption">
                        <h3>Browse & post on the forums</h3>
                        <p>Here you can share information about Jackhuahuas and learn from other Jackhuahua owners.</p>
                        <p>
                          <%= link_to "Go to Forums", topics_path, class: 'btn btn-primary' %>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
