 <%= form_for [topic, post] do |f| %>
   <% if post.errors.any? %>
     <div class="alert alert-danger">
       <h4>There are <%= pluralize(post.errors.count, "error") %>.</h4>
       <ul>
         <% post.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
   <%= form_group_tag(post.errors[:title]) do %>
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
   <% end %>
   <%= form_group_tag(post.errors[:body]) do %>
     <%= f.label :body %>
     <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
   <% end %>
  <%= form_group_tag(post.errors[:image]) do %>
    <%= f.label :filepicker_url, "Upload photos to gallery" %>
    <%= f.filepicker_field :filepicker_url, multiple: true, rows: 1, class: 'form-control', placeholder: "Upload photos" %>
  <% end %>
   <div class="form-group">
    <%= f.hidden_field :topic_id, value: @topic.id %>
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
